APP_PORT="app port goes here..."
TYPEORM_HOST="database instance goes here..."
TYPEORM_USERNAME="database username goes here..."
TYPEORM_PASSWORD="database password goes here..."
TYPEORM_DATABASE="database name goes here..."
TYPEORM_PORT="database instance port goes here..."
# TYPEORM_SYNCHRONIZE =true
# TYPEORM_LOGGING =true